@font-face {
    font-family: 'Pt_Root_Ui';
    font-style: normal;
    src: url('./../utils/fonts/PT-Root-UI_Light.ttf') format('trueType')
}
@font-face {
    font-family: 'Pt_Root_Ui';
    font-style: bold;
    src: url('./../utils/fonts/PT-Root-UI_Regular.ttf') format('trueType')
}


@font-face {
    font-family: 'ProximaNovaBold';
    font-weight: bold;
    src: url("./fonts/ProximaNova-Bold.woff") format("woff2"),
        url('./fonts/ProximaNova-BoldIt.eot') format("eot")
}
@font-face{
    font-family: 'ProximaNova';
    src: url("./fonts/ProximaNova-Regular.woff") format("woff2"),
        url("./fonts/ProximaNova-RegularIt.eot") format("eot")
}


@font-face {
    font-family: "VTB Group Light";
    
    src: url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.eot"); 
    src: url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.eot?#iefix") format("embedded-opentype"), 
        url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.woff2") format("woff2"), 
        url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.woff") format("woff"), 
        url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.ttf") format("truetype"), 
        url("//db.onlinewebfonts.com/t/c60671675fb6850a59d1a3a3aee0ba75.svg#VTB Group Light") format("svg"); }